doctype html
html
  head
    title Socket.IO chat
    |
    style.
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 50px; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
      #userContainer {background-color: #f0f0f0; bottom: 50px; top: 100px; position: absolute; width: 100%;}
      div#footer {background-color: #0F4155; bottom: 0px; position: fixed; height: 50px; width: 100%; color: white; font-size: 1.2em; padding-top: 15px;}
      div#footer span {margin: 0px 100px 0px 25px;}
    |
    script(src='/socket.io/socket.io.js')
    |
    script(src='jquery-1.11.1.min.js')
    |
    script.
      $(function () {
      var socket = io();
      $('#chatBox').submit(function(){
      socket.emit('chat message', {message: $('#m').val(), user: $('#userName').text(), color: $('#userColor').html()});
      $('#m').val('');
      return false;
      });

      socket.on('chat message', function(msg){
      $('#messages').append($('<li>').html('<span style="font-weight: bold; color:'+ msg.color +'">' + msg.user + ' says:</span>  ' + msg.message));
      });
      socket.on('user joined', function(user){
      $('#users').append($('<li>').text('User: ' + user + ' joined'));
      });
      });
  |
  body
    div
      image(src="Capgemini_logo.png" style="margin: 20px 0px 20px 100px; width: 200px;")
    |
    #userContainer
      image(src="comma-white.png" style="margin: -2px 0px 0px 100px")
      h2(style="padding-left: 20px") Welcome:&nbsp;
        span#userName=userName
        span#userColor(style="display: none")=color
      |
      div(style='display: inline-block; padding: 0 100px 0 20px; width: 100%')
        div(style="display: inline-block; min-width: 80%'; float: left")
          ul#messages
        |
        div(style='display: inline-block; float: right')
          ul#users
        |
        div
          form#chatBox(action='')
            input#m(autocomplete='off')
            button Send
          |
        |
      |
    |
    div#footer
      span#footer1 People matter, results count.
      span#footer2 @Copyright: Capgemini FS 2017
    |
